table.mytable
{
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
margin-top: 50px;
width: 95%;
}

table.mytable th, table.mytable td {
vertical-align: 4px;
font-size: 10px
}
table.mytable th {
	text-align: left;
	text-transform: uppercase;
}
thead th, tfoot th, tfoot td {
}
table.mytable tr td a { display: block;  height: 100%; }

table.mytable tbody tr:hover td {
	background-color: #E5E5CB;
}

table.mytable tr.white td, tr.white th {
	background-color: #FFFFFF;
}
table.mytable tr.green td, tr.green th {
	background-color: #81F781;
}
table.mytable tr.red td, tr.red th {
	background-color: #FE2E2E; 
}

table.mytable tbody a:visited {
	color: #999999;
}
table.mytable tbody a:hover {
	color: #33c;
}
table.mytable tbody a:active {
	color: #33c;
}



