<%title "Rechnungen"%>

<table class=mytable>
  <tr>
    <th>Datum</th>
    <th>Patent</th>
    <th>Rechnungsnummer</th>
    <th></th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%=h bill.datum %></td>
    <td><%=(link_to bill.patent.internaktenzeichen, bill.patent )unless bill.patent.nil?%></td>
    <td><%=h bill.rechnungsnummer %></td>
    <td><%= link_to '', bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

